{% extends 'header_body_footer.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/elimina_columna.css' %}"> 
{% endblock %}

{% block content %}
        
    <div class="container-fluid mx-auto" style="max-width: 800px;">
        
        <div style="text-align:right;">
            <div style="border: 1px solid black; padding: 5px; display: inline-block;">
                <a href="{% url 'manual_modificasion_csv' %}" style="line-height: 30px;">Manual Herramienta</a>
            </div>
        </div>
        <div>
            <h1 class="text-center">Analisis de archivos CSV</h1>
            <form action="{% url 'analisis_modificasion_csv' %}" method="post" enctype="multipart/form-data" class="my-4">
            	{% csrf_token %}
                <div class="form-group">
                    <label for="archivos">Selecciona CSVs o Carpeta ZIP:</label>
                    <input type="file" name="archivos" id="archivos" class="form-control-file" multiple>
                </div>

                <div class="form-group">
                    <label for="tipo_archivo">Tipo de archivo:</label>
                    <select id="tipo_archivo" name="tipo_archivo" class="form-control">
                        <option value="csv_files">CSV Files</option>
                        <option value="zip_file">Carpeta ZIP</option>
                    </select>
                </div>

    			<div>
            		<label for="text_area_columnas_eliminar">Columnas a Eliminar:</label>
            		<br>
    				<textarea id="text_area_columnas_eliminar" name="text_area_columnas_eliminar" rows="4" cols="40"></textarea>
    			</div>
    			<br>
    			<div>
                	<button type="submit" class="btn btn-primary">Eliminar Columnas</button>
    			</div>

            </form>
        </div>

    </div>
    
{% endblock %}
